<h1>Welcome to Mario's Speciality Food Store!</h1>
<h4>At Mario's our doors are open during this trying time so come on in.</h4>
<h4>We are open 7 days a week from 6 a.m - 6 p.m .</h4>
<h5>Please note that between the hours of 6 - 8 a.m we will only be serving those 65 and older to help them stay save</h5>
<h5>We are sorry for any inconvience this may cause</h5>


<h2>We sell the rare and hard to find foods. We import foods from all over the world</h2>
<h5>Please note we are limited on what we can import during this pandemic. If you don't see what you are looking for please give us a call for more information</h5>

<p><%= link_to "See what's available", '/products' %></p>



<p>We are located in Portland , at 1234 SW Taylor St,Portland, OR 97204</p>
<p>Our main phone number is (503)222-0604, we'd love to hear from you.</p>