<%= render "layouts/errors", :object => @product %>
<%= render "layouts/product_form", :object => @product %>


  <button type="button" class="btn btn-info"><%= link_to "Return to product page", product_path(@product) %></button>
