<h1>Available Products</h1>

        <p><%= link_to "Add a new product", new_product_path %></p>
        



<% if @products.any?%>
<ul class="products">
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <%end%>
</ul>
<%else%>
<p>We seem to be sold out, please check back at a later time. Thank you for letting us serve you.</p>
<%end%>


