<%= render "layouts/errors", :object => @review %>
<h1>Edit review on <%= @product.name %> </h1>
<h3>Here you can edit all aspects of your review </h3>
<%= render "layouts/review_form", :object => @review %>